<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Layout simile a WhatsApp</title>
         <!-- collegamento vue -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

       <!-- collegamento a google -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <!-- Collegamento al CSS di Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
</head>





<body>

<div class="container" id="app">

  <div class="row">
    <!-- Sidebar -->
    <div class="container-primo bg-light ">


        <div class="header-navbar">


            <ul class="d-flex">
            
                <div class="icona">
                        <img src="./img/avatar_io.jpg" alt="">
                </div>   
                <li>chiara</li>
                
                

                <li style="margin-left: auto;"><span class="material-symbols-outlined">settings</span></li>
                <li >  <span class="material-symbols-outlined">home</span></li>
                <li >  <span class="material-symbols-outlined">arrow_back</span></li>

                
                
            </ul>

        </div>

          <!-- messaggio di allerta -->
        <div class="messaggio-allerta d-flex bg-primary ">

            <div class="icona">
               <img src="https://webstockreview.net/images/bell-icon-png-1.png" alt="" >
            </div>


            <h6 class="text-light "> ricevi notifiche sui nuovi messaggi</h6>
            

        </div>


         <!-- INPUT CERCA  -->
        <div class="d-flex ">
            <input type="search"  v-model="searchInput" @input="search()" placeholder="Cerca o inizia una nuova chat..." style="width: 100%;">
            <button @click="search()" >
               search
            </button>
        </div>
        
        

        <!-- inizioapp -->

        <div class="lista-contatti" >

            <div v-for="contact in contacts" :key="contact.name" class="contact-item" @click="setActiveContact(contact)">

                <ul>


                    <li class="d-flex" v-if="contact.visible === true">

                        <div class="icona">
                            <img :src="contact.avatar" alt="Contact Avatar" width="50" height="50">
                        </div>

                        <div>

                            <p>{{ contact.name }}</p> 
                        
                            <p> ultimo mess inviato </p>

                        </div>
                        
                        
                        


                        <span style="margin-left: auto;" class="last-message text-bg-light ">
                            12:00 pm
                        </span>
    
                        
            
                    </li>

                    
                    

                </ul>

                

            </div>
            <div v-if="activeContact">
                
            </div>

            
            
            
        </div>
           




    </div>

    <!-- fineapp -->
    
    
    <!-- Area di chat -->
    <div class="container-secondo ">

        <div class="chat-container">

            <!-- Intestazione della chat -->
            <div class="chat-header bg-primary text-white p-3">
                <div>

                    <ul class="contenitore-icona-dx d-flex">

                        

                        <div class="icona-dx">
                            <img :src="activeContact.avatar" alt="Active Contact Avatar" width="50" height="50">
                        </div>
                        {{ activeContact.name }}

                        <li style="margin-left: auto;"><span class="material-symbols-outlined">settings</span></li>
                        <li><span class="material-symbols-outlined">home</span></li>
                        <li><span class="material-symbols-outlined">arrow_back</span></li>

                        
                    </ul>

                </div>
            </div>

            <!-- Messaggi della chat -->
            <div class="chat-messages p-3" v-if="activeContact">

                <div v-for="message in activeContact.messages" :key="message.date" class="message   ">
                    <div v-if="message.status === 'sent'" class="sent-message ">

                        <p class="d-flex justify-content-end  ">{{ message.message }}</p>
                        <p class=" d-flex justify-content-end message-time">{{ message.date }}</p>
                        
                    </div>
                    <div v-else class="received-message">
                        <p>{{ message.message }}</p>
                        <span class="message-time">{{ message.date }}</span>
                    </div>
                    <div v-if="message.status === 'sent' && message.showOkResponse">
                        <p class="received-message">OK</p>
                        <span class="message-time">{{ new Date().toLocaleString() }}</span>
                    </div>
                </div>

                <ul v-if="todos.length > 0">
                    <li v-for="(elem, i) in todos" class="style-li">
                        {{elem}}
                    
                     <!-- <button @click="removetodo(i)" Sclass="mybutton">x</button> -->
        
                    </li>
                    
                  
                </ul>
                
                
            </div>

            <!-- Inserimento messaggio -->
            <div class="message-input p-3 d-flex ">
                <input type="text" class="form-control" v-model="newTodo" placeholder="Scrivi il tuo messaggio...">
                <button  @click="addTodo()" class="btn btn-primary ">Invia</button>
            </div>

            


        </div>


    </div>
  </div>
</div>

<script src="script.js"></script>



</body>
</html>
